@import url('https://fonts.googleapis.com/css?family=Montserrat:400,700,300');

html, body {
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
}

h1 {
    margin-bottom: 40px;
}

.content {
    margin-top: 50px;
    text-align: center;
}

.lang-choice-container {
    text-align: center;
    margin-bottom: 10px;
}

.lang-choice-container a {
    text-decoration: none;
    margin-right: 20px;
    padding-bottom: 5px;
}

.lang-choice-container a:hover {
    border-bottom: 3px solid #ff1111;
}

.row {
    margin-bottom: -15px;
}

.col {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}

.pot-item {
    background-image: url('../img/loading.svg');
    background-size: 70px;
    background-repeat: no-repeat;
    background-position: center center;
    float: left;
    height: 200px;
    color: #fff;
    margin: 15px;
    width: calc((100% - 30px * 2) / 2);
    -webkit-box-shadow: inset 0px -30px 54px 1px rgba(0, 0, 0, 0.8);
    -moz-box-shadow: inset 0px -30px 54px 1px rgba(0, 0, 0, 0.8);
    box-shadow: inset 0px -30px 54px 1px rgba(0, 0, 0, 0.8);
}

.pot-name {
    font-weight: bold;
    text-align: center;
    position: relative;
    top: 90%;
    margin-left: 50%;
    transform: translate(-50%, -50%);
}

@media (max-width: 768px) {
    .pot-item {
        width: calc(100% - 15px * 2);
    }
}

@media (min-width: 992px) {
    .col {
        width: 970px;
    }
}